* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, red, yellow, green);
}

button {
    padding: 20px;
    font-size: 20px;
    font-family: monospace;
    border: none;
    background-image: linear-gradient(45deg, red, yellow, green);
}