body {
  background-color: rgb(22, 129, 201);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
  background-color: white;
  color: black;
  font-size: 30px;
  border-bottom: 2px solid black;
}

span {
  color: red;
}
