body {
    background-color: aqua;
}

.container {
    text-align: center;
    padding: 100px 200px;
    background-image: linear-gradient(45deg, red, yellow, green);
    /* border: 1px solid blue; */
    height: 300px;
    margin: 50px 300px;
}

button {
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: green;
}

#result {
    font-size: 50px;
    margin-top: 80px;
}