.container {
  width: 300px;
  height: 465px;
  margin-left: 600px;
  margin-top: 100px;
  border-radius: 94px;
  padding: 35px;
  background-color: #69cf2ac9;
}
h1 {
  text-align: center;
}
.content {
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 30px;
  grid-template-columns: 69px 79px 74px 74px;
  grid-gap: 1px;
  margin-top: 2px;
}
#display {
  border: 0.2px solid rgb(0, 153, 255);
  height: 56px;
  width: 293px;
  font-size: 32px;
}
#clear {
  width: auto;
  height: 60px;
  grid-column: 1/3;
  font-size: 30px;
}
button {
  width: auto;
  height: 60px;
  font-size: 30px;
}
.equal {
  width: 150px;
}
